*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid rgb(60, 0, 255);
  width: 100%;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container--big {
  margin: 0 auto;
  padding: 0 15px;
  outline: 4px solid rgb(169, 240, 16);
  width: 100%;
}
@media screen and (min-width: 375px) {
  .container--big {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container--big {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container--big {
    max-width: 1810px;
  }
}

.logo {
  width: auto;
  height: 60px;
}

.logo--img {
  width: auto;
  height: 60px;
}
@media screen and (min-width: 1200px) {
  .logo--img {
    width: auto;
    height: 68px;
  }
}

.header {
  min-width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: 3;
  top: 28px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    margin-top: 20px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 64px;
    margin-top: 20px;
    margin-bottom: 25px;
    gap: 62px;
  }
}
.header__link {
  display: inline-block;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}
.header__input {
  color: #ffffff;
  margin-left: 10px;
  max-width: 135px;
  padding: 10px 24px 10px 10px;
  background-color: transparent;
  outline: transparent;
  border-color: transparent;
}
@media screen and (min-width: 375px) {
  .header__input {
    max-width: 200px;
  }
}
.header__input:hover, .header__input:focus, .header__input:active {
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 1200px) {
  .header__input {
    padding: 15px 24px;
    width: 300px;
  }
  .header__input:hover, .header__input:focus, .header__input:active {
    border-bottom: 1px solid #ffffff;
  }
}
.header__list--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8;
  gap: 29px;
}
@media screen and (min-width: 1200px) {
  .header__list--icon {
    margin-top: 10px;
    gap: 40px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
.header__item--icon {
  position: relative;
}
.header__button--icon {
  background-color: transparent;
  border: transparent;
}
.header__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.header__burger--menu {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .header__burger--menu {
    display: none;
  }
}
.header__search {
  position: absolute;
  right: 15px;
  top: 15px;
}
@media screen and (min-width: 1200px) {
  .header__search {
    right: 15px;
    top: 20px;
  }
}

.mob {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}
.mob.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.mob__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 200%;
}
.mob__link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: black;
}

.mob__button {
  background-color: transparent;
  border: transparent;
}

.mob__icon--close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 18px;
  width: 18px;
  fill: black;
}

.hero {
  padding-top: 153px;
  padding-bottom: 40px;
  background-image: url(./../images/busan-south-korea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 266px;
    padding-bottom: 450px;
  }
}
.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 58.15px;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 120px;
    line-height: 130px;
    margin-left: 250px;
  }
}
.hero__title__button {
  background-color: #dd2242;
  min-width: 100%;
  padding: 21px;
  margin-top: 8px;
  color: #ffffff;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  border-radius: 107px;
}
@media screen and (min-width: 1200px) {
  .hero__title__button {
    font-size: 20px;
    text-align: left;
    border-radius: 211px;
    padding: 26px 64px;
    min-width: auto;
    margin-top: 21px;
    margin-left: 250px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__container--list {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero__container--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .hero__container--list {
    position: absolute;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    right: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1810px) {
  .hero__container--list {
    right: 50%;
    -webkit-transform: translateX(57%);
            transform: translateX(57%);
    bottom: 0;
    margin-top: 241px;
  }
}
.hero__container--nav {
  display: none;
}
@media screen and (min-width: 1810px) {
  .hero__container--nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateY(-4500%);
            transform: translateY(-4500%);
    bottom: 420px;
    rotate: 270deg;
    gap: 239px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hero__list--nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list--nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-height: 31px;
    gap: 25px;
  }
}
.hero__link {
  display: inline-block;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #dd2242;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
}
.hero__number--nav {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dd2242;
}
.hero__number--nav::after {
  content: "";
  width: 396px;
  height: 2px;
  display: block;
  background-color: #dd2242;
}
.hero__list {
  padding: 35px 71px 30px 32px;
  margin-top: 54px;
  background-color: rgba(0, 0, 0, 0.6039215686);
  border: 1px solid hsl(0, 0%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .hero__list {
    padding: 40px 128px 50px 71px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 210px;
    gap: 198px;
  }
}
.hero__item {
  min-width: 120px;
}
@media screen and (min-width: 1200px) {
  .hero__item {
    max-width: 50%;
  }
}
.hero__number {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #dd2242;
  margin-bottom: 4px;
}
.hero__subtitle {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 4px;
}
.hero__text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #939393;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 18px;
    line-height: 28px;
  }
}
.hero__video {
  min-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__video {
    min-width: 50%;
    max-height: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__video {
    min-width: 417px;
    max-width: 417px;
    min-height: 234px;
    max-height: 234px;
  }
}

.film {
  background-image: url(./../images/chemin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  padding-top: 83px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .film {
    padding-top: 141px;
    padding-bottom: 210px;
  }
}
.film__title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .film__title {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    margin-bottom: 67px;
  }
}
.film__list {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .film__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 41px;
  }
}
@media screen and (min-width: 1200px) {
  .film__list {
    margin-top: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .film__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.film__video {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  min-height: 168px;
  max-height: 192px;
}
@media screen and (min-width: 768px) {
  .film__video {
    max-height: 415px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .film__video {
    max-height: 120px;
    max-width: 233;
  }
}
.film__video--big {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  min-height: 168px;
  max-height: 192px;
}
@media screen and (min-width: 768px) {
  .film__video--big {
    min-height: 415px;
    min-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .film__video--big {
    min-height: 545px;
    min-width: 83%;
  }
}
.film__subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .film__subtitle {
    margin-left: 41px;
    text-align: left;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}
.film__text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .film__text {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    margin-left: 41px;
  }
}

.film__video--invisibily {
  display: block;
}
@media screen and (min-width: 768px) {
  .film__video--invisibily {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .film__video--invisibily {
    display: block;
  }
}

.film__video--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .film__video--tablet {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .film__video--tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .landscape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.landscape--montagne {
  padding-top: 40px;
  padding-bottom: 56px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#010a20), to(rgba(1, 10, 32, 0))), url(./../images/montagne.jpg);
  background-image: linear-gradient(360deg, #010a20 0%, rgba(1, 10, 32, 0) 100%), url(./../images/montagne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .landscape--montagne {
    padding-top: 207px;
    padding-bottom: 97px;
  }
}
.landscape--plage {
  padding-bottom: 39px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#010a20), to(rgba(1, 10, 32, 0))), url(./../images/plage.jpg);
  background-image: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%), url(./../images/plage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .landscape--plage {
    padding-top: 56px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .landscape--plage {
    padding-top: 95px;
    padding-bottom: 305px;
  }
}
@media screen and (min-width: 768px) {
  .landscape__galery__image {
    max-width: 50%;
  }
}
.landscape__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media screen and (min-width: 1200px) {
  .landscape__image {
    width: 100%;
    height: 100%;
  }
}
.landscape__title {
  color: #ffffff;
  margin: 33px 0px 1px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
}
@media screen and (min-width: 768px) {
  .landscape__title {
    margin: 33px 10px 1px;
  }
}
@media screen and (min-width: 1200px) {
  .landscape__title {
    margin: 80px 80px 4px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
  }
}
.landscape__subtitle {
  color: #e0e0e0;
  margin: 0px 0px 20px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  .landscape__subtitle {
    margin: 33px 10px 1px;
  }
}
@media screen and (min-width: 1200px) {
  .landscape__subtitle {
    margin: 0px 80px 32px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%;
  }
}
.landscape__button {
  width: 100%;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  border: transparent;
  border-radius: 32px;
  padding: 22px;
  background-color: #dd2242;
}
@media screen and (min-width: 768px) {
  .landscape__button {
    margin: 33px 10px 1px;
  }
}
@media screen and (min-width: 1200px) {
  .landscape__button {
    width: auto;
    margin: 0px 80px 80px;
    padding: 16px 24px;
  }
}

.landscape__mobil {
  display: block;
}
@media screen and (min-width: 768px) {
  .landscape__mobil {
    display: none;
  }
}

.landscape__desktob {
  display: none;
}
@media screen and (min-width: 768px) {
  .landscape__desktob {
    display: block;
  }
}

.landscape__interligne--desktob {
  display: none;
}
@media screen and (min-width: 768px) {
  .landscape__interligne--desktob {
    display: block;
  }
}

.gallery {
  margin-top: 32px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: 177px;
    margin-bottom: 229px;
  }
}
.gallery__title {
  color: #010a20;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  line-height: 150%;
}
.gallery__text {
  color: #6f7787;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .gallery__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%;
    margin-top: 41px;
    margin-bottom: 71px;
  }
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 12px;
}
@media screen and (min-width: 1200px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
.gallery__item:nth-child(1) {
  grid-area: 1/1/4/2;
}
.gallery__item:nth-child(2) {
  grid-area: 4/1/5/2;
}
.gallery__item:nth-child(3) {
  grid-area: 5/1/7/2;
}
.gallery__item:nth-child(4) {
  grid-area: 1/2/2/3;
}
.gallery__item:nth-child(5) {
  grid-area: 2/2/5/3;
}
.gallery__item:nth-child(6) {
  grid-area: 5/2/7/3;
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(1) {
    grid-area: 1/1/4/2;
  }
  .gallery__item:nth-child(2) {
    grid-area: 4/1/5/2;
  }
  .gallery__item:nth-child(3) {
    grid-area: 1/2/2/3;
  }
  .gallery__item:nth-child(4) {
    grid-area: 2/2/5/3;
  }
  .gallery__item:nth-child(5) {
    grid-area: 1/3/3/4;
  }
  .gallery__item:nth-child(6) {
    grid-area: 3/3/5/4;
  }
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.gallery__interligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .gallery__interligne {
    display: block;
  }
}