.bibliotheek {
  background-image: url(./../images/bibliotheek-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: unset;
  &--white {
    padding-top: 25px;
    padding-bottom: 695px;
    @media screen and (min-width: 1200px) {
      padding-top: 127px;
      padding-bottom: 886px;
    }
  }
  &--black {
    background-color: #020c21da;
    padding-top: 72px;
    padding-bottom: 69px;
    @media screen and (min-width: 1200px) {
      padding-top: 201px;
      padding-bottom: 224px;
    }
  }
  &__title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #010a20;
    margin-bottom: 57px;
    @media screen and (min-width: 1200px) {
      font-size: 50px;
      line-height: 150%;
      margin-bottom: 44px;
    }
  }
  &__list--gallery {
    display: block;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    &--desktop {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        gap: 31px;
        margin: 0 auto;
      }
    }
  }
  &__item--gallery {
    display: none;
    &.active {
      display: block;
      text-align: center;
    }
  }
  &__image {
    width: 314px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
  &__title--black {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 57px;
    color: #ffffff;
    @media screen and (min-width: 1200px) {
      font-size: 60px;
      line-height: 150%;
      margin-bottom: 36px;
    }
  }
  &__text {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #e0e0e0;
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__list {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-top: 39px;
    }
  }
  &__item {
    &:nth-child(1) {
      margin-top: 15px;
      @media screen and (min-width: 1200px) {
        margin-top: 0;
      }
    }
    &:nth-child(2) {
      margin-top: 80px;
      margin-bottom: 43px;
      @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &__subtitle {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: #dd2242;

    @media screen and (min-width: 1200px) {
      font-size: 42.14px;
      line-height: 49.16px;
      letter-spacing: 0.39px;
      margin-bottom: 18px;
    }
  }
}
.bibliotheek__item--gallery {
  display: none;
}
.bibliotheek__item--gallery.active {
  display: block;
  text-align: center;
}
