.etape {
  background-color: #dce8f2;
  padding-top: 29px;
  padding-bottom: 73px;
  @media screen and (min-width: 768px) {
    padding-top: 119px;
    padding-bottom: 117px;
  }
  &__container {
    position: relative;
    z-index: 20;
  }
  &__title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    color: #010a20;
    @media screen and (min-width: 768px) {
      font-size: 60px;
      line-height: 150%;
      text-align: left;
      text-align: left;
    }
  }

  &__item {
    margin-top: 32px;
    &:nth-child(1)::before {
      content: "1";
      width: 56px;
      height: 56px;
      display: block;
      border-radius: 50%;
      background-color: #dd2242;
      padding: 9px 20px;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 26.41px;
      line-height: 38.15px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0 auto;
      color: #fff;
    }
    &:nth-child(2)::before {
      content: "2";
      width: 56px;
      height: 56px;
      display: block;
      border-radius: 50%;
      background-color: #dd2242;
      padding: 9px 20px;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 26.41px;
      line-height: 38.15px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0 auto;
      color: #fff;
    }
    &:nth-child(3) {
      margin-left: 0px;
    }
    &:nth-child(4)::before {
      content: "3";
      width: 56px;
      height: 56px;
      display: block;
      border-radius: 50%;
      background-color: #dd2242;
      padding: 9px 20px;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 26.41px;
      line-height: 38.15px;
      letter-spacing: 0px;
      text-align: center;
      margin: 0 auto;
      color: #fff;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
      gap: 44px;
      &:nth-child(1)::before {
        text-align: left;
        margin: 0px;
        padding: 9px 20px;
      }

      &:nth-child(2)::before {
        text-align: left;
        margin: 0px;
        padding: 9px 20px;
      }
      &:nth-child(3) {
        margin-left: 102px;
      }
      &:nth-child(4)::before {
        text-align: left;
        margin: 0px;
        padding: 9px 20px;
      }
    }
  }
  &__subtitle {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #010a20;
    margin-top: 18px;
    @media screen and (min-width: 768px) {
      font-size: 26.41px;
      line-height: 41.08px;
      letter-spacing: 0px;
      margin-top: 0px;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__text {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #15143966;
    margin-top: 13px;
    @media screen and (min-width: 768px) {
      font-size: 23.47px;
      line-height: 38.15px;
      letter-spacing: 0px;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
    &--desktop {
      display: none;
      @media screen and (min-width: 1200px) {
        font-size: 23.47px;
        line-height: 38.15px;
        letter-spacing: 0px;
        text-align: left;
        display: block;
        color: #15143966;
      }
    }
  }
  &__video {
    min-width: 300px;
    margin: 0 auto;
    display: block;
  }
  &__link {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5;
    text-align: center;
    color: #dd2242;
    display: block;
    height: 10px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      border: 1px solid transparent;
      background-color: #dd2242;
      color: #fff;
      border-radius: 122px;
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      padding: 18px 56px;
      margin-left: 103px;
      margin-top: 17px;
      &:hover,
      &:focus {
        background-color: transparent;
        border: 1px solid #dd2242;
        color: #dd2242;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
