.header {
  min-width: 100%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: 3;
  top: 28px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
  &__list {
    display: none;
    @media screen and (min-width: 768px) {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 64px;
      margin-top: 20px;
      margin-bottom: 25px;
      gap: 62px;
    }
  }

  &__link {
    display: inline-block;
    transition: color 0.3s linear;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    &:hover,
    &:focus {
      color: #dd2242;
      &::before,
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    &::before,
    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #dd2242;
      position: absolute;
      left: 0px;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.3s linear, 0.3s linear;
      bottom: -28px;
      align-items: center;
    }
  }
  &__input {
    color: #ffffff;
    margin-left: 10px;
    max-width: 135px;
    padding: 10px 24px 10px 10px;
    background-color: transparent;
    outline: transparent;
    border-color: transparent;
    @media screen and (min-width: 375px) {
      max-width: 200px;
    }
    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid #ffffff;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
      padding: 15px 24px;
      width: 300px;
    }
  }
  &__list--icon {
    display: flex;
    margin-top: 8;
    gap: 29px;
    @media screen and (min-width: 1200px) {
      margin-top: 0px;
      gap: 40px;
      justify-content: right;
    }
  }
  &__item--icon {
    position: relative;
  }
  &__button--icon {
    background-color: transparent;
    border: transparent;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  }
  &__burger--menu {
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__search {
    position: absolute;
    right: 15px;
    top: 15px;

    @media screen and (min-width: 1200px) {
      right: 15px;
      top: 20px;
    }
  }
}
