.hero {
  padding-top: 266px;
  padding-bottom: 450px;
  background-image: url(./../images/busan-south-korea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 58.15px;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  background-color: #dd2242;
  min-width: 100%;
  padding: 21px;
  margin-top: 8px;
  color: #ffffff;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: transparent;
  border-radius: 107px;
}
.hero__list {
  padding: 35px 71px 30px 32px;
  margin-top: 54px;
  background-color: #000000;
  opacity: 60%;
  border: 1px solid hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero__number {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #dd2242;
  margin-bottom: 4px;
}
.hero__subtitle {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 4px;
}
.hero__text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #939393;
}
.hero__video {
  min-width: 100%;
}
