.container {
  margin: 0 auto;
  padding: 0 15px;
   outline: 1px solid rgb(60, 0, 255);
  width: 100%;
  @media screen and (min-width: 375px) {
    max-width: 375px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.container--big {
  margin: 0 auto;
  padding: 0 15px;
  outline: 4px solid rgb(169, 240, 16);
  width: 100%;
  @media screen and (min-width: 375px) {
    max-width: 375px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1810px;
  }
}
